.dashboardContainer{
    display: flex;
    width: 99%;
    flex: 1;
}

.contentContainer{
    width: 100%;
}

/* .chartContainer{
    margin-left: 10px;
    margin-right: 10px;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: black;
    color: white;
} */