body{
    padding: 0px;
    margin: 0px;
    overflow-x: hidden;
}

.sidebar{
    background-color: black;
    border-right: 1px solid black;
    height: 100%;
    overflow-y: auto;
    color: white;
    overflow-x: hidden;
}

.sidebar .actionButton{
    padding-top: 10px;
    float: right;
    height: 25px;
    width: auto;
}

.sidebar .logo{
    display: flex;
    align-items: center;
    padding: 25px 10px 15px;
}

.logo img{
    width: auto;
    height: 50px;
    border-radius: 50%;
}

.logo h2{
    font-weight: 1000;
    font-size: 1.3rem;
    margin-left: 5px;
    padding-right: 5px;
}

.sidebar .links{
    list-style: none;
    margin-top: 20px;
}

.sidebar .links h4{
    color: white;
    font-weight: 750;
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.links li{
    display: flex;
    align-items: center;
}

.links li:hover{
    border-radius: 4px;
    cursor: pointer;
}

.links li .icon{
    padding: 12px 10px;
}

.links li a{
    color: white;
    padding: 5px;
    font-weight: 500;
    white-space: nowrap;
    text-decoration: none;
    transition: 0.15s;
}
.links li a:hover{
    font-weight: 700; 
    text-shadow: 0 0 20px 1px white;
}

.accountSection{
    margin-left: -50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#sidebar-profile-pic{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    object-fit: cover;
    transition: 0.12s;
}

#sidebar-profile-pic:hover{
    height: 85px;
    width: 85px;
    box-shadow: 0 0 20px 1px white;
}

#sidebar-profile-name{
    font-weight: 500;
}


.sidebar .logo-extanded{
    display: flex;
    align-items: center;
}

.logo-extanded img{
    width: auto;
    padding-top: 50px;
    height: 35px;
    border-radius: 50%;
}

.links-extanded{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
}

.sidebar .links-extanded{
    list-style: none;
    margin-top: 20px;
}

.links-extanded li{
    display: flex;
    align-items: center;
}

.links-extanded li:hover{
    border-radius: 4px;
    cursor: pointer;
}

.links-extanded li .icon{
    padding: 12px 10px;
}

.links-extanded li a{
    color: white;
    padding: 5px;
    font-weight: 500;
    white-space: nowrap;
    text-decoration: none;
    transition: 0.15s;
}
.links-extanded li a:hover{
    font-weight: 700; 
    text-shadow: 0 0 20px 1px white;
}