.ptContainer {
    display: flex;
    justify-content: space-between;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .setGoal {
    flex: 1;
    margin-right: 20px;
  }
  
  .workouts {
    flex: 1;
  }
  
  form {
    margin-top: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
    color: white; /* Match dashboard text color */
  }
  
  textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: transparent; /* Match dashboard background */
    color: white; /* Match dashboard text color */
  }
  
  input[type="submit"] {
    background-color: #4caf50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #45a049;
  }
  
  /* Style for each workout item */
  .workoutItem {
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #2c3e50; /* Match dashboard background */
    color: white; /* Match dashboard text color */
  }
  
  .workoutItem p {
    margin: 0;
  }
  
  /* Optional: Media query for responsiveness */
  @media (max-width: 600px) {
    .ptContainer {
      flex-direction: column;
    }
  }
  