.SignUp{
    display: flex;
    flex-direction: column;
    padding-bottom: 2rem;
}

.SignUp input{
    font-size: 1rem;
    margin: 0.5rem 1rem;
    padding: 0.4rem;
}

/* .SignUpBtn{
    width: 40%
    margin: 0 auto;
    font-size: 1rem;
    font-weight: 0,0, 700;
    padding: 0.5em;
    color: #3abef2;
    border: 1px solid #3abef2;
    transition: 0.5s ease-in;
}

.SignUpBtn: hover{
    background-color: #3abef2;
    color: #fff !important;
} */
